{% extends 'base.html.twig' %}

{% block title %}Circus index{% endblock %}

{% block body %}
    <h1>Circus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>History</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circus in circuses %}
            <tr>
                <td>{{ circus.id }}</td>
                <td>{{ circus.history }}</td>
                <td>
                    <a href="{{ path('circus_show', {'id': circus.id}) }}">show</a>
                    <a href="{{ path('circus_edit', {'id': circus.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('circus_new') }}">Create new</a>
{% endblock %}
