{% extends 'base.html.twig' %}

{% block title %}Performers index{% endblock %}

{% block body %}
    <h1>Performers index</h1>
<div class="col-12">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Biography</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for performer in performers %}
            <tr>
                <td>{{ performer.id }}</td>
                <td>{{ performer.name }}</td>
                <td>{{ performer.picture }}</td>
                <td>{{ performer.biography }}</td>
                <td>
                    <a href="{{ path('performers_show', {'id': performer.id}) }}">show</a>
                    <a href="{{ path('performers_edit', {'id': performer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('performers_new') }}">Create new</a>
{% endblock %}
